{% extends 'main/base.html' %}

{% block title %}
	<title>О нас</title>
{% endblock %}

{% block content %}
<div class="about-page">
	<h1 class="about-page__title">Знакомство с ИТ</h1>
	<p class="about-page__text">
	Компьютерами увлекаюсь со школьных времен. Примерно в 9 классе мне подарили первый компьютер на процессоре Intel Celeron. Кроме очевидных занятий по запуску всевозможных игр на непригодном по техническим характеристикам железе, увлекался программированием, участвовал в различных олимпиадах, занимал места. 
	</p>
	<p class="about-page__text">
	После школы выбор был очевиден и я поступил в технический университет, который успешно закончил. Во время учебы, получилось устроиться фрилансером в несвязанной с ИТ профессией, там я и развивался, иногда возвращаясь к программированию каких-то скриптов для себя или коллег.
	</p>
	<p class="about-page__text">
	Последние пол года активно самообучаюсь веб-разработке на Python и хочу стать фулл тайм разработчиком. 
	</p>
	<p class="about-page__text">
	Этот проект — один из проектов для моего портфолио.
	</p>
</div>
{% endblock %}
