{% extends 'main/base.html' %}

{% block title %}
	<title>{{ article.title }}</title>
{% endblock %}

{% block content %}
<div class="article-detail article-detail--position">
	<h1 class="article-detail__title">{{ article.title }}</h1>
	<div class="article-detail__text">{{ article.text|safe|linebreaks }}</div>
	{% if user.is_authenticated %}
	<form method="post" action="{{ article.id }}">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Комментировать">
	</form>
	{% endif %}
</div>
{% endblock %}
