{% extends 'main/base.html' %}
{% load static %}

{% block title %}
<title>Статьи</title>
{% endblock %}

{% block content %}
<div class="content__content-items">
	{% for article in articles %}
	<div class="content__item">
		<div>
			<img class="content__item-img" src="{{ article.image.url }}" alt="">	
		</div>
		<div class="content__description">
			<div class="content__item-title">
				{{ article.title }}
			</div>
			<div class="content__item-text">
				{{ article.description }}
			</div>
			<div>
				<img class="content__divider" src="{% static "main/img/divider.png" %}" alt="">
			</div>
			<div class="content__info">

				<div class="content__date">
					<span class="content__date-text">
						{{ article.date }}
					</span>
				</div>
				<div class="content__comments">
					<span class="content__comments-count">
						15
					</span>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
