{% extends 'main/base.html' %}
{% load static %}

{% block title %}
<title>Статьи</title>
{% endblock %}

{% block content %}

{% if user.is_superuser %}
	<div class="admin-only">
		<a class="admin-only__add-article" href={% url 'add_article' %}>Добавить статью</a>
	</div>
{% endif %}

<div class="content__content-items">
	{% for article in articles %}
	<div class="content__item">
		<div>
			<img class="content__item-img" src="{{ article.image.url }}" alt="">	
		</div>
		<div class="content__description">
			<div class="content__item-title">
				<a class="content__title-link" href="article/{{ article.id }}">{{ article.title }}</a>
			</div>
			<div class="content__item-text">
				{{ article.description }}
			</div>
			<div>
				<img class="content__divider" src="{% static "main/img/divider.png" %}" alt="">
			</div>
			<div class="content__info">

				<div class="content__date">
					<span class="content__date-text">
						{{ article.date }}  [<b>{{ article.category }}</b>]
					</span>
				</div>
				<div class="content__comments">
					<span class="content__comments-count">
						{{ article.comments_set.count }}
					</span>
				</div>
			</div>
			{% if user.is_superuser %}
			<div class="admin-panel">
				<a class="admin-panel__update" href="article/update/{{ article.id }}">Редактировать</a>
				<a class="admin-panel__delete" href="article/delete/{{ article.id }}">Удалить</a>
			</div>
			{% endif %}
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
