{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static "main/fonts/stylesheet.css" %}">
	<link rel="stylesheet" href="{% static "main/css/style.css" %}">
	{% block title %}
		<title>Статьи</title>
	{% endblock %}
</head>
<body>
	<div class="wrapper">
		<header class="header">
		<div class="container container--flex">

			<div class="header__logo"><img class="header__logo-img" src="{% static "main/img/header__logo.png" %}" alt=""></div>

			<ul class="header__top-menu">
				<li class="header__menu-item header__menu-item--border">
					<a class="header__menu-link" href={% url 'index' %}>главная</a>
				</li>
				<li class="header__menu-item">
					<a class="header__menu-link" href={% url 'articles' %}>статьи</a>
				</li>
				<li class="header__menu-item">
					<a class="header__menu-link" href={% url 'about' %}>о нас</a>
				</li>
				<li class="header__menu-item">
					<a class="header__menu-link" href={% url 'contacts' %}>контакты</a>
				</li>
			</ul>
		</div>
	</header>
	<div class="content">
		<div class="container">
		{% block content %}
				

		{% endblock %}
		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<span class="footer__copyright">
				© 2020 | Blog by Alexey Luhinin.
			</span>	
		</div>
	</footer>	
	</div>
</body>
</html>
