{% extends 'main/base.html' %}

{% block title %}
	<title>Контакты</title>
{% endblock %}

{% block content %}
<div class="contacts-page">
	<h1 class="contacts-page__title">Как со мной связаться?</h1>
	<div class="contacts-page_links">
		<p class="contacts-page__text">
		Мой телеграмм - <a href="https://teleg.run/barrrrygold">t.me/barrrrygold</a> 
		</p>
		<p class="contacts-page__text">
		Skype - <a href="Skype:alexey_luhinin?chat">alexey_luhinin</a>
		</p>
		<p class="contacts-page__text">
		Email - barrrrygold@gmail.com 
		</p>
	</div>
</div>
{% endblock %}
