{% extends 'main/base.html' %}

{% block title %}
	<title>Главная</title>
{% endblock %}

{% block content %}
<div class="main-page">
	<h1 class="main-page__title">Добро пожаловать!</h1>
	<p class="main-page__text">
	Вы попали на главную страницу мини-блога, написанного начинающим разработчиком с помощью Python/Django. 
	</p>
	<p class="main-page__text">
	В этом тренировочном проекте, реализовано:
	</p>
	<ol class="main-page__capabilities">
		<li>Связанные модели: статьи, категории, комментарии.</li>
		<li>Добавление, удаление, редактирование статей.</li>
		<li>Добавление комментариев к статье.</li>
		<li>Счетчик количества комментариев.</li>
		<li>Регистрация, авторизация.</li>
	</ol>
	<p class="main-page__text main-page__text--italic">
	Верстка сайта сделана по PSD шаблону с небольшими изменениями. Позиционирование с помощью FlexBox. 
	</p>
	<p class="main-page__text main-page__text--italic">
	Для названий классов была выбрана BEM методология.
	</p>
</div>
{% endblock %}
